<div class="card card-header my-cards">
  <h3>USER</h3>
  <div class="card card-header small-header">
      <div class="card card-body mb-3">
          <div class="row users">
              <div class="col-md-12 detail-image">
                  <img src="{{user.avatar}}" alt="Picture not found" class="profil-pic">
              </div>
              <div class="col-md-12 users-name detail-name">
                  <h4>{{user.first_name}} {{user.last_name}}</h4>
              </div>
              <div class="col-md-12 user-options">
                  <div class="see-user"><a routerLink="/user/{{user.id}}">SEE THE USER</a></div>
                  <div class="fa fa-pencil edit-user" (click)="shared.accord($event); editUser(user)"> Edit User</div>
                  <div class="fa fa-close delete-user" (click)="deleteUser(user)"> Delete User</div>
              </div>
          </div>
      </div>
  </div>
</div>
