<div class="card card-header my-cards">
  <h3>USER</h3>
  <div class="card card-header small-header">
      <div class="card card-body mb-3">
          <div class="row users">
              <div class="col-md-12 detail-image">
                  <img src="{{user.avatar}}" alt="Picture not found" class="profil-pic">
              </div>
              <div class="col-md-12 users-name detail-name">
                  <h4>{{user.first_name}} {{user.last_name}}</h4>
              </div>
              <div class="col-md-12 user-options">
                  <div class="fa fa-pencil edit-user" (click)="shared.accord($event); editUser(user)"> Edit User</div>
                  <div class="fa fa-close delete-user" (click)="deleteUser(user)"> Delete User</div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row card card-header my-cards">
    <h3>OTHER USERS</h3>
    <div class="col-md-12 card"  *ngFor="let otheruser of users">
        <div class="card-body mb-3 other-users" routerLink="/user/{{otheruser.id}}" *ngIf="otheruser.id != user.id">
         <img src="{{otheruser.avatar}}" alt="Picture not found" class="profil-pic"> <span class="ml-4">{{otheruser.first_name}} {{otheruser.last_name}}</span>
        </div>
    </div>
  </div>
